/* Reglas por defecto */

* {
    box-sizing: border-box;
    /* https://fonts.google.com */
    font-family: 'Quicksand', sans-serif;
}

body {
    margin: 0;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Reglas asociadas a las columnas */

.column-1 {
    width: 100%;
    float: left;
    color: white
}

#section-2 {
    background-color: #000000;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

#section-3 {
    padding: 0 5%;
}

.column-2 {
    width: 50%;
    float: left;
    padding: 40px 80px;
}

.column-4 {
    width: 25%;
    float: left;
    padding: 40px;
}

.column-4 p {
    color: white;
}


/* Estilos de la página */

#header {
    text-align: center;
    background-image: url('../img/header4.jpg');
    background-size: cover;
    padding: 30vh 100px;
    height: 100vh;
}

#header h1 {
    font-size: 70px;
}

#header h2 {
    font-size: 40px;
}

#map {
    width: 100%;
    height: 450px;
    border: 0;
}

#section-4 {
    background-color: rgb(66, 65, 65);
    opacity: 10;
}

@media screen and (max-width: 600px) {
    /* Aquí dentro van las reglas */
    #header h1 {
        font-size: 50px;
    }
    #header h2 {
        font-size: 30px;
    }
    #header {
        padding: 30vh 10px;
    }
    .column-2 {
        width: 100%;
    }
    #section-2,
    #section-3 .column-2 {
        padding-left: 5px;
        padding-right: 5px;
    }
}